/* Reset margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

div {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-content: center;

}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

input {
    width: 300px;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

input::placeholder {
    color: #888;
}

input:focus {
    background-color: #fff;
    outline: none;
}

input:hover {
    border-color: blue;
}

button {
    width: 100px;
    padding: 12px;
    background-color: #2196f3;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #77b9ee;
}

.errorinput {
    border: 2px solid red;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

form {
    display: grid;
    justify-items: center;
}